/.project
/.cproject
*.pyc
*.o
*Ac.*
*ComponentReport.txt
lib*.a
*-bin
ac_dep
*~
.metadata
RemoteSystemsTempFiles
*.py.bak
~*
*.hash
.DS_Store
*.stackdump
Dict
*.core

*.mdxml.bak
*.sconsign.dblite
*.class
.classpath
doxygen
.scrub*
.coverity*
coverity.out
#*#
.#*

**/docs/*.html
*-template

logs

test_harness/.autotools
core

*.swp4

.vscode
py_dict
.settings

/ci-venv/
/ci-logs*
.eggs
src/fprime-tools.egg-info
**/DefaultDict/serializable/*
/.idea/
/venv/
